<div class="welcome-container">
  <div class="welcome-card">
    <h1>{{texts.WELCOME.title}}</h1>
    <img src="assets/icon/radio.svg" alt="Radioterapia" class="logo" />

    <div class="form-group">
      <ion-item lines="none">
        <ion-select [(ngModel)]="selectedQuestionCount" interface="popover">
          <ion-select-option
            *ngFor="let option of questionCounts"
            [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-card class="progress-card">
      <ion-card-header>
        <ion-card-title> {{texts.WELCOME.progress.title}}</ion-card-title>
        <ion-card-subtitle>
          {{ progress.answered }} de {{ progress.total }} preguntas
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-progress-bar [value]="progress.answered / progress.total">
        </ion-progress-bar>

        <div class="progress-info">
          <div>
            <h2>{{ progress.percentage }}%</h2>
            <p>{{texts.WELCOME.progress.completed}}</p>
          </div>

          <div>
            <h2>{{ progress.remaining }}</h2>
            <p>{{texts.WELCOME.progress.remaining}}</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
    <button class="btn-start" [disabled]="!selectedQuestionCount" (click)="startQuiz(TEST_TYPE.RADIO)">
      {{texts.WELCOME.buttons.radio}}
    </button>

    <button class="btn-common" [disabled]="!selectedQuestionCount" (click)="startQuiz(TEST_TYPE.COMMON)">
      {{texts.WELCOME.buttons.common}}
    </button>

    <button class="btn-mix" [disabled]="!selectedQuestionCount" (click)="startQuiz(TEST_TYPE.ALL)">
      {{texts.WELCOME.buttons.mixed}}
    </button>

    <button class="btn-repaso" *ngIf="areFailedQuestions" (click)="startRepasoMode()">
      {{texts.WELCOME.buttons.failed}} ({{ failedCount }})
    </button>

    <button *ngIf="['navis', 'ADMIN'].includes(username)" class="btn-suggestions" type="button"
      (click)="sendSuggestionsMail()">
      {{texts.WELCOME.buttons.suggestions}}    
     </button>

    <button class="btn-data" color="secondary" type="button" (click)="viewData()">
      {{texts.WELCOME.buttons.data}}    
    </button>

    <button class="btn-instructions" color="secondary" type="button" (click)="viewInstructions()">
      {{texts.WELCOME.buttons.instructions}}    
    </button>
  </div>
</div>