<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="theme-title">RADIOTERAPIA 2026</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="questions.length" class="ion-padding app-quiz-content">
  <!-- 🔥 PROGRESO -->
  <div class="progress-container ion-margin-bottom" *ngIf="resultsPage">

    <!-- ⏱ CRONÓMETRO -->
    <div class="timer-container">
      <ion-chip color="warning">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label class="timer-color">{{ elapsedTime }}</ion-label>
      </ion-chip>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        align-items: center;
      "
    >
      <ion-note class="step-text" *ngIf="resultsPage">
        Pregunta {{ currentIndex + 1 }} de {{ questions.length }}
      </ion-note>

      <ion-badge color="success" class="ion-badge">
        Correctas: {{ correctAnswers }}
      </ion-badge>
    </div>

    <ion-progress-bar
      *ngIf="questions.length > 0"
      color="secondary"
      [value]="progress"
    >
    </ion-progress-bar>
  </div>

  <!-- 🔥 PREGUNTA -->
  <div *ngIf="currentIndex < questions.length" class="quiz-box">
    <ion-card class="question-card">
      <ion-card-content
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        "
      >
        <h3 class="question">
          {{ questions[currentIndex].question }}
        </h3>

        <!-- 🪄 VARITA -->
      
      </ion-card-content>
    </ion-card>

    <!-- 🪄 MAGIC ANSWER -->

    <ion-button
    *ngIf="false"
    class="robot-button"
    fill="clear"
    size="small"
    (click)="useMagic(questions[currentIndex])"
  >
    <img src="assets/icon/robot.svg" alt="IA"  />
  </ion-button>
<div *ngIf="magicAnswer" class="magic-answer-box ion-margin-bottom">
  <ion-card color="tertiary">
    <ion-card-content>
      <div style="display:flex; align-items:center; gap:10px;">
        <ion-icon name="sparkles-outline"></ion-icon>

        <div>
          <strong>La IA cree que la respuesta es la : {{ magicAnswer }}</strong>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>

    <!-- 🔥 OPCIONES -->
    <div class="options-container">
      <div
        *ngFor="let opt of ['a', 'b', 'c', 'd']"
        class="custom-option-button"
        [ngClass]="getOptionColor(opt)"
        (click)="answer(opt)"
      >
        <div class="option-letter">
          {{ opt.toUpperCase() }}
        </div>

        <div class="option-text">
          {{ $any(questions[currentIndex].options)[opt] }}
        </div>
      </div>
    </div>
  </div>

  <!-- 🔥 RESULTADOS -->
  <div
    *ngIf="currentIndex >= questions.length"
    class="result-box ion-text-center ion-padding">
    <h2>¡{{ playerName || 'Aspirante' }}!</h2>

    <p class="subtitle-result">
      Has finalizado el test.
    </p>

    <ion-card class="score-card">
      <ion-card-content>

        <p>Aciertos totales</p>

        <h1>
          {{ correctAnswers }} / {{ questions.length }}
        </h1>

        <div class="percentage-bar">
          <span class="percentage-text">
            Puntuación final:
          </span>

          <ion-badge
            [color]="(correctAnswers/questions.length) >= 0.5 ? 'success' : 'danger'"
          >
            {{ correctAnswers }}/{{ questions.length }}
          </ion-badge>
        </div>

        <div class="ion-margin-top">
          <p><strong>Duración</strong></p>
          <ion-chip color="primary">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>{{ elapsedTime }}</ion-label>
          </ion-chip>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-button
      expand="block"
      shape="round"
      color="primary"
      class="ion-margin-top"
      (click)="goToHome()"
    >
      Volver al Inicio
    </ion-button>
  </div>

  <ion-fab
    class="floating-next"
    (click)="nextQuestion()"
    *ngIf="nextVisible"
  >
    <ion-fab-button class="icon-size">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>