// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/


:root {
  /** primary (Azul) **/
  --ion-color-primary: #a67aca;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /* ... el resto de colores: secondary, tertiary, success, etc. ... */
  
  /** Colores de fondo de la app (Modo Claro) **/
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}