<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/welcome"
        text="">
      </ion-back-button>
    </ion-buttons>

    <ion-title class="theme-title">
      Instrucciones
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Instrucciones</h1>
  </ion-text>


  <ion-text color="primary">
    <h3>El test cuenta con 300 preguntas de radioterapia, todas se salen en modo aleatorio.</h3>
    <h3>Cada vez qeu se falla una pregunta, apareceran de nuevo en el modo repaso.</h3>
    <h3>El progreso de las preguntas solo cuanta cada pregunta unica, si contestas una por ejemplo 2 veces cuanta como 1 </h3>
  </ion-text>


  <ion-text color="primary">
    <h3>Puedes descargar la web-App a la pantalla de inicio </h3>

    <h3>
      IOS safari : <br/>
      Boton compartir, bajas y seleccionas "Añadir a pantalla de inicio"
    </h3>

    <h3>
      CHROME android : <br/>
      Boton con los 3 puntos, bajas y seleccionas "Añadir a pantalla de inicio"
    </h3>

   
  </ion-text>

</ion-content>