<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="theme-title">
      {{texts.INSTRUCTIONS.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="secondary">
    <h3> {{texts.INSTRUCTIONS.test.first}}
    </h3>
    <h3>{{texts.INSTRUCTIONS.test.second}}</h3>
  </ion-text>

  <ion-text class="ion-margin-top" color="tertiary">
    <h3>{{texts.INSTRUCTIONS.install.title}}</h3>

    <h3>
      {{texts.INSTRUCTIONS.install.ios}}
    </h3>

    <h3>
      {{texts.INSTRUCTIONS.install.android}}
    </h3>

  </ion-text>
</ion-content>