<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/welcome"
        text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="theme-title">
      Instrucciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="secondary">
    <h3>1ºEl test cuenta con 300 preguntas de radioterapia y 200 comunes, todas en modo aleatorio.</h3>
    <h3>2ºCada vez que se fallas una pregunta, apareceran de nuevo en el modo repaso.</h3>
  </ion-text>

  <ion-text class="ion-margin-top" color="tertiary">
    <h3>Puedes descargar la web-App a la pantalla de inicio </h3>

    <h3>
      IOS safari : <br/>
      Boton compartir, bajas y seleccionas "Añadir a pantalla de inicio" de tu movil
    </h3>

    <h3>
      CHROME android : <br/>
      Boton con los 3 puntos, bajas y seleccionas "Añadir a pantalla de inicio"
    </h3>

  </ion-text>
</ion-content>